.btn{
    
    &__trash{
        height: 12px !important;
        width: 12px;
        right: 15px;
        position: absolute;
        &__wrapper{
            height: 20px;
            width: 100%;
            position: absolute;
            margin-top: -20px;
            margin-left: -15px;
        }
        img{
            height: 80% !important;
            width: 80% !important;
        }
    }
}